/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
*/

body, h1, h2, h3, h4, ul, li, p, a, button{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

p{
    font-family: 'Merriweather', serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* Header */

.header{
    max-width: 940px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header nav a{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    padding: 10px;
    margin-left: 20px;
    color: #353740;
}

.header a:hover{
    color: #27B7B8;
}

header nav .active{
    color: #27B7B8;
}

.menu-burger, .material-symbols-outlined  {
    display: none;
}

/* Section 1 */

.section1{
    background-image: url(img/Fundo.png);
    box-shadow: 0px 0.3px 4px 0px rgba(0,0,0,0.25);
    height: 495px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.section1 div {
    max-width: 940px;
    margin: 0 auto;
    padding-right: 410px;
}

.section1 div h1 {
    font-size: 64px;
    line-height: 72px;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 60px;
}

.section1 div h2 {
    font-size: 24px;
    line-height: 28px;
    color: #27B7B8;
    text-transform: uppercase;
    font-weight: 400;
}

.section1 div h3 {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

.section1 div p {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 24px;
    color: white;
    font-weight: 500;
    font-style: italic;
}

/* Section 2 */

.section2{
    max-width: 940px;
    margin: 0px auto;
    text-align: center;
}

.section2 .subtitle {
    position: relative;
    bottom: 50px;
    max-width: 940px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0.3px 4px 0px rgba(0,0,0,0.25);
}

.section2 .subtitle h2{
    color: #353740;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    
}

.section2 .subtitle p{
    color: #353740;
    font-size: 16px;
    margin-top: 10px;
}

.section2 .sec2-div {
    display: flex;
}

.slide-container {
    width: 400px;
    height: 300px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 100%;
    height: fit-content;
}

.swiper-slide img {
    width: 100%;

}

.section2 .sec2-div p {
    display: inline-block;
    width: 180px;
    background-color: white;
    border: 2px #B2B2B2 solid;
    border-radius: 3px;
    color: #999999;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 27px;
    margin: 15px;
}

.section2 .sec2-div p:hover{
    color: #27B7B8;
    border-color: #27B7B8;
}

.section2 button{
    background-color: #27B7B8;
    width: 275px;
    height: 75px;
    border: none;
    border-radius: 3px;
    margin-top: 45px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor:pointer;
}

/* Section 3 */

.section3 .ondas-bg{
    background-image: url(img/Ondas.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    padding-top: 150px;
}

.section3 .subtitle2{
    background-color: white;
    box-shadow: 0px 0.3px 4px 0px rgba(0,0,0,0.25);
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.section3 .subtitle2 h2{
    color: #353740;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

.section3 .subtitle2 p{
    color: #353740;
    font-size: 16px;
    margin-top: 10px;
}

.section3 .sec3-div{
    background-color: #284B70;
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.section3 .sec3-div div{
    color: white;
    margin: 0 200px 0 30px;
}

.section3 .sec3-div div h3{
    font-size: 36px;
    font-weight: 700;
}

.section3 .sec3-div div h4{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
}

.section3 .sec3-div div p{
    font-size: 16px;
    font-weight: 400;
}

/* Section 4 */

.section4 .ondas-bg{
    background-image: url(img/Ondas-resersas.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    padding-top: 30px;
    padding-bottom: 120px;
}

.section4 .subtitle2{
    background-color: white;
    box-shadow: 0px 0.3px 4px 0px rgba(0,0,0,0.25);
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.section4 .subtitle2 h2{
    color: #353740;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

.section4 .subtitle2 p{
    color: #353740;
    font-size: 16px;
    margin-top: 10px;
}

.section4 .sec4-div{
    display: flex;
    align-items: center;
}

.section4 .sec4-div div{
    color: #353740;
    margin: 0 200px 0 30px;
}

.section4 .sec4-div div h3{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
}

.section4 .sec4-div div p{
    font-size: 16px;
    font-weight: 400;
}

/* Section 5 */

.section5 .subtitle2{
    background-color: white;
    box-shadow: 0px 0.3px 4px 0px rgba(0,0,0,0.25);
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    margin-top: 60px;
}

.section5 .subtitle2 h2{
    color: #353740;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

.section5 .subtitle2 p{
    color: #353740;
    font-size: 16px;
    margin-top: 10px;
}

.section5 .depoimentos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
    margin-top: 60px;
}

.section5 .depoimento {
    display: flex;
    margin-bottom: 30px;
}

.section5 .depoimento p {
    display: block;
    max-width: 270px;
    height: 140px;
}

.section5 .depoimento div h3 {
    color: #353740;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.section5 .depoimento p {
    color: #353740;
    font-size: 16px;
    margin-left: 30px;
}

/* Section 6 */

.section6 .ondas-bg{
    background-image: url(img/Ondas.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    height: 274px;
}

.section6 .sec6-div {
    background-color: #284B70;
    padding-bottom: 30px;
}

.section6 .sec6-div div {
    max-width: 940px;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.section6 .sec6-div div h3 {
    font-size: 28px;
    margin-bottom: 15px;
}

.section6 .sec6-div div p {
    font-size: 16px;
    margin-bottom: 30px;
}

.section6 .local-contato {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section6 .local-contato a {
    display: flex;
    align-items: center;
    border: 3px white solid;
    border-radius: 10px;
    height: 90px;
    padding: 0 15px;
    color: white;
    font-weight: 700;
}

.section6 .local-contato a:hover{
    border: 3px #29A71A solid;
    color: #29A71A;
}

.section6 .local-contato a p {
    margin-top: 30px;
    margin-right: 15px;
    font-family: 'Montserrat', sans-serif;
}

/* Footer */

footer {
    background-color: #006AC1;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/* Media Queries */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header{
        padding: 0 20px;
    }

    .section1 div {
        padding-left: 20px;
        padding-top: 20px;
    }

    .section2 .subtitle {
        margin: 0 20px;
    } 
    
    .section2 .sec2-div{
        flex-wrap: wrap;
        justify-content: center;
    }

    .section2 .sec2-div img{
        margin-bottom: 20px;
    }

    .section3 .subtitle2{
        margin: 0 20px;
    }

    .section3 .sec3-div{
        flex-wrap: wrap;
        justify-content: center;
    }

    .section3 .sec3-div img{
        width: 100%;
        margin: 20px;
    }

    .section3 .sec3-div div{
        margin: 20px;
    }

    .section4 .subtitle2{
        margin: 0 20px;
    }

    .section4 .sec4-div{
        flex-wrap: wrap;
        justify-content: center;
    }

    .section4 .sec4-div img{
        width: 100%;
        margin: 20px;
    }

    .section4 .sec4-div div{
        margin: 20px;
        margin-bottom: 60px;
    }

    .section4 .ondas-bg{
        padding-bottom: 40px;
    }

    .section5 .subtitle2{
        margin: 0 20px;
    }

    .depoimento {
        justify-content: center;
        margin: 20px;
    }

    .local-contato{
        flex-wrap: wrap-reverse;
    }
}

@media screen and (max-width: 767px) {
    header{
        padding: 0 20px;
    }

    .section1{
        background-color: #284B70;
        background-image: none;
    }

    .section1 div {
        padding: 20px;
    }

    .section2 .subtitle {
        margin: 0 20px;
    } 

    .section2 .sec2-div{
        flex-wrap: wrap;
        justify-content: center;
    }

    .section2 .sec2-div img{
        margin-bottom: 20px;
    }

    .section3 .subtitle2{
        margin: 0 20px;
    }

    .section3 .sec3-div{
        flex-wrap: wrap;
        justify-content: center;
    }

    .section3 .sec3-div img{
        width: 100%;
        margin: 20px;
    }

    .section3 .sec3-div div{
        margin: 20px;
    }

    .section4 .subtitle2{
        margin: 0 20px;
    }

    .section4 .sec4-div{
        flex-wrap: wrap;
        justify-content: center;
    }

    .section4 .sec4-div img{
        width: 100%;
        margin: 20px;
    }

    .section4 .sec4-div div{
        margin: 20px;
        margin-bottom: 60px;
    }

    .section4 .ondas-bg{
        padding-bottom: 40px;
    }

    .section5 .subtitle2{
        margin: 0 20px;
    }

    .depoimento {
        justify-content: center;
        margin: 20px;
    }

    .sec6-div h3, .sec6-div p{
        margin: 0 20px;
    }

    .local-contato{
        flex-wrap: wrap-reverse;
    }

    .local-contato iframe{
        margin-top: 30px;
    }

    footer p{
        margin: 0 20px;
    }
}

@media screen and (max-width: 515px) {
    header{
        padding: 0 20px;
        
    }

    header nav {
        display: none;
    }

    header span {
    color: #353740;
    }

    header span:hover{
        color: #27B7B8;
    }

    .menu-burger{
        background-color: white;
        border: 3px #27B7B8 solid;
        border-radius: 3px;
        display: none;
        text-align: center;
        padding: 10px;
        position: absolute;
        right: 20px;
        top: 70px;
    }

    .menu-burger.ativo{
        display: inline-block;
    }

    .material-symbols-outlined {
        display: block;
    }

    .menu-burger a {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        padding: 10px;
        color: #353740;
    }

    .menu-burger a:hover{
        color: #27B7B8;
    }

    .section1 div {
        padding: 20px;
    }

    .section1 div h1 {
        font-size: 56px;
        margin-bottom: 20px;
    }

    .section1 div h2 {
        font-size: 18px;
    }

    .section1 div h3 {
        font-size: 14px;
    }

    .section1 div p {
        font-size: 14px;
    }

    .section2 .subtitle {
        margin: 0 20px;
    } 

    .section2 .sec2-div{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .section2 .sec2-div img{
        margin: 0 20px 20px 20px;
        width: 100%;
    }

    .section3 .subtitle2{
        margin: 0 20px;
    }

    .section3 .sec3-div{
        flex-wrap: wrap;
        justify-content: center;
    }

    .section3 .sec3-div img{
        width: 100%;
        margin: 20px;
    }

    .section3 .sec3-div div{
        margin: 20px;
    }

    .section4 .subtitle2{
        margin: 0 20px;
    }

    .section4 .sec4-div{
        flex-wrap: wrap;
        justify-content: center;
    }

    .section4 .sec4-div img{
        width: 100%;
        margin: 20px;
    }

    .section4 .sec4-div div{
        margin: 20px;
        margin-bottom: 60px;
    }

    .section4 .ondas-bg{
        padding-bottom: 40px;
    }

    .section5 .subtitle2{
        margin: 0 20px;
    }

    .depoimento {
        justify-content: center;
        margin: 20px;
    }

    .sec6-div h3, .sec6-div p{
        margin: 0 20px;
    }

    .local-contato{
        flex-wrap: wrap-reverse;
    }

    .local-contato iframe{
        margin-top: 30px;
    }

    .section6 .local-contato a p{
        margin: 0;
    }
    
    footer p{
        margin: 0 20px;
        text-align: center;
    }
}